.immagini {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.foto {
    width: 100%;
    max-width: 200px;
    height: auto;
}

body {
    background-image: url("../images/wp11080309.png");
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
     font-family: 'Arial Black', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card button {
    margin-top: 5px;
}
.btn {
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #444;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

